.chat {
  overflow-y: scroll;
  height: 300px;
}
.chat-bubble {
  display: inline-block;
  max-width: 80%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  clear: both;
}
.chat-bubble-right {
  float: right;
  background-color: #272828a4;
  color: #fff;
}
.chat-bubble-left {
  float: left;
  background-color: #e4e4e4;
}
.center {
  text-align: center;
}
.borders {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.header {
  background-color: rgba(88, 225, 235, 0.226);
}

.load-more {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
